<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="jackred and khocef">

    <title>404 </title>

    {% if env === "development" -%}
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/landing-page.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    {% else -%}
        <link href="css/styles.css" rel="stylesheet">
    {%- endif %}
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="error-full-page">
    <!-- start: PAGE -->
    <div class="container">
        <div class="row">
            <!-- start: 404 -->
            <div class="col-sm-12 page-error">
                <div class="error-number">
                    404
                </div>
                <div class="error-details col-sm-6 col-sm-offset-3">
                    <h3>It's beyond our expectations!</h3>
                    <p>
                        Element Not Found!
                        <br>
                        It looks as though we couldn't find what you're looking for.
                        <br>
                        Don't panic! Please try again.
                    </p>
                </div>
            </div>
            <!-- end: 404 -->
        </div>
    </div>
</body>
</html>